{{!-- Journal Page --}}
<div>
    <h1>Journal</h1>
</div>
{{!-- Step 1: create layout with mock data, general layout, create columns with journal enteries, form that lets you edit one, Step 2: wiring up to data}}