


	        <h2>Mission</h2>
			<p>Our mission is to provide a comprehensive and insightful platform for individuals
                to explore and understand their dreams. Through the use of expert analysis and guidance, we aim to empower
                our users with the knowledge and tools needed to unlock the hidden meanings and symbolism within their
                dreams, allowing them to gain a deeper understanding of their subconscious mind and facilitate personal
                growth and development.</p>

<img src="./images/Cam.jpg" alt="picture of Cam" style="width: 200px; height: 200px; border: 5px inset black;">  
<img src="./images/wes.jpg" alt="picture of Wes" style="width: 200px; height: 200px; border: 5px inset black;">
<img src="./images/cole.jpg" alt="picture of Cole" style="width: 200px; height: 200px; border: 5px inset black;">
<img src="./images/simon.jpg" alt="picture of Simon" style="width: 200px; height: 200px; border: 5px inset black;">

