/* :root {
    color palettes */
/* https://colorhunt.co/
}

/* ---------- Main ---------- */
main {
    min-height: 100vh;
    color: white
}

/* Apply styles to the main scrollbar of the webpage */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(74, 54, 177, 0.5), rgba(199, 100, 236, 0.6));
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
    background: black;
}

.homepage-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
}

.homepage-row {
    width: 100%;
}

.homepage-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixed-title {
    position: fixed;
    top: -60%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    font-weight: 650;
    transform: translate(-50%, -50%);
    z-index: 1;
    letter-spacing: 1.2px;
}

.navbar {
    background: linear-gradient(180deg, rgba(74, 54, 177, 0.5), rgba(199, 100, 236, 0.6));
}


.navbar-brand-white {
    color: white;
    font-weight: 600;
}

.navbar-brand {
    margin-left: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    color: white;
    margin-bottom: .5%;
}

.nav-item {
    color: white;
    margin-top: 3%;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: white;
    transform: scale(1.1);
}

@keyframes move {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 150% 150%;
    }
}

.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/spaceImg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: move 20s linear infinite;
    z-index: -1;
}

footer {
    height: 100px;
    background-color: rgba(199, 100, 236, 0.6);
    bottom: 0;
    color: white;
    align-items: center;
}

.footer-text {
    margin-bottom: 0;
}

.fact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 50%;
}

.fact-text-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    padding-right: 210%;
}

.fact-text {
    display: inline;
    white-space: nowrap;
    font-family: "Courier";
    font-size: 18px;
    color: white;
}

.callToAction {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50%;
}

.signUpButton,
.loginButton {
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: rgba(74, 54, 177, 0.5);
    transition: all 0.3s ease-in-out;
    border: none;
    white-space: nowrap;
}

.loginButton {
    background-color: rgba(199, 100, 236, 0.6);
}

.signUpButton:hover {
    transform: scale(0.95);
    background-color: rgba(74, 54, 177, 1);
}

.loginButton:hover {
    transform: scale(0.95);
    background-color: rgba(199, 100, 236, 1);
}

.submit-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px;
    font-weight: 500;
    background-color: rgba(199, 100, 236, 0.6);
    transition: all 0.3s ease-in-out;
    border: none;
    white-space: nowrap;
}

.submit-btn:hover {
    transform: scale(0.95);
    background-color: rgba(74, 54, 177, 1);
}

.previousDreamsFeed {
    border: 4px solid white;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
}

.creatorDetails {
    display: flex;
    justify-content: space-between;
    background-color: rgba(199, 100, 236, 0.6);
    padding: 20px;
}

.dreamHeader {
    border-bottom: .1px solid white
}

.dreamResults {
    background-color: rgba(74, 54, 177, 0.2);

}

.creatorDetails p {
    font-size: 1.4rem;
}

.dreamResults {
    padding: 20px;
}
=======
.journal-reminder {
    display: flex;
    margin-top: 3%;
    margin-left: 11%;
    font-weight: 600;
    font-size: 22px;
}

.form-group {
    display: flex;
    margin-bottom: 5% !important;
    justify-content: space-between;
}

.form-group.d-flex {
    justify-content: center;
    gap: 150px;
}

#loading {
    display: none;
    margin-top: 8%;
    font-size: 18px;
    font-family: "Courier";
    color: #fff;
}

#interpretation {
    display: flex !important;
    margin-top: 4% !important;
    font-family: "Courier" !important;
    font-size: 16px !important;
    color: #fff;
}

.allDreams {
    display: block;
    background-color: rgba(199, 100, 236, 0.1);
    border-radius: 20px;
    overflow-y: auto;
    max-height: 550px;
}

.allDreams::-webkit-scrollbar {
    width: 10px;
}

.allDreams::-webkit-scrollbar-track {
    background: black;
}

.allDreams::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(74, 54, 177, 0.5), rgba(199, 100, 236, 0.6));
    border-radius: 10px;
}

.allDreams::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(74, 54, 177, 0.5), rgba(199, 100, 236, 0.6));
}

.allDreams h1 {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.fas.fa-star {
    justify-content: space-between;
    margin-inline: 3%;
    margin-top: 2.5%;
    font-size: 20px;
}

.previousDreams {
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h6 {
    font-size: 23px;
    font-weight: 650;
}

.delete-button-container {
    text-align: right;
    margin-right: 5%;
}

.delete-button {
    display: inline-block;
    margin-bottom: 1.5%;
    font-size: 16px;
}


.delete-button:hover {
    cursor: pointer;
    transform: scale(0.95);
}
